@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

html {
  font-size: 62.5%; /* 10px = 1rem! */
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

body {
  -webkit-font-smoothing: antialiased;
  background-color: #212431;
  font-family: "Inter", sans-serif;
  color: white;
}

.logo {
  font-family: "degular-display", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 5.2rem;
  margin-bottom: 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.logo span {
  color: #00DCFF;
}

nav {
  width: 100%;
  display: flex;
  height: 10rem;
  align-items: center;
  padding: 0 100px;
  box-shadow: 0px 5px 21px rgba(0, 0, 0, 0.2901960784);
}
nav ul {
  display: flex;
  justify-content: center;
  margin: auto auto auto auto;
  list-style: none;
  gap: 6.2rem;
  font-size: 2rem;
}
nav a {
  text-decoration: none;
  color: #fff;
}
nav a:hover {
  color: #00DCFF;
}
nav a:focus {
  outline: none;
  color: #00DCFF;
}

main {
  text-align: center;
}
main .logo {
  margin: 9rem auto;
  font-size: 14rem;
}
main form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-main {
  width: 26rem;
  height: 7rem;
  font-weight: 700;
  font-size: 3.5rem;
  color: #00DCFF;
  border-radius: 10px;
  background-color: #212431;
  border: none;
  cursor: pointer;
  outline: 2px solid #00DCFF;
  transition: 0.2s;
}
.btn-main:hover {
  color: #212431;
  background-color: #00DCFF;
  box-shadow: 0px 0px 30px 11px rgba(101, 201, 254, 0.29);
}
.btn-main:focus {
  color: #212431;
  background-color: #00DCFF;
  box-shadow: 0px 0px 30px 11px rgba(101, 201, 254, 0.29);
}

.search {
  font-size: 2rem;
  color: rgb(211, 211, 211);
  margin-bottom: 5rem;
  height: 5rem;
  border: 2px solid #00DCFF;
  background: #212431 0% 0%;
}
.search:focus {
  outline: none;
  box-shadow: 0px 0px 30px 11px rgba(101, 201, 254, 0.29);
  background: rgba(255, 255, 255, 0.0509803922);
}
.search:hover {
  background: rgba(255, 255, 255, 0.0509803922) 0% 0%;
}

.search--ip {
  width: 76rem;
  border-right: none;
  border-radius: 15px 0 0 15px;
  padding: 2.5rem;
}

.search--port {
  width: 10rem;
  border-radius: 0 15px 15px 0;
  border-left: none;
  padding: 2.5rem 1rem 2.5rem 1rem;
  position: relative;
}

.search-wrapper {
  position: relative;
}
.search-wrapper:after {
  content: "";
  border-left: 1px solid #00DCFF;
  width: 1px;
  height: 3rem;
  transform: translateX(-10rem);
  position: absolute;
  right: 0;
  top: 1.1rem;
}

.btn-filled {
  width: 22rem;
  height: 7rem;
  font-weight: 700;
  font-size: 3.5rem;
  color: #212431;
  border-radius: 10px;
  background-color: #00DCFF;
  border: none;
  cursor: pointer;
  transition: 0.2s;
}
.btn-filled:hover {
  box-shadow: 0px 0px 30px 11px rgba(101, 201, 254, 0.29);
}
.btn-filled:focus {
  outline: none;
  box-shadow: 0px 0px 30px 11px rgba(101, 201, 254, 0.29);
}

.main-text {
  font-weight: 200;
  font-size: 2rem;
  text-align: start;
  margin: 15rem auto;
  opacity: 0.4;
  width: 100rem;
}
.main-text p {
  margin-bottom: 5rem;
}

.scan-results {
  width: 122rem;
  margin: 15rem auto;
}

.scan-results__table {
  margin-bottom: 15rem;
}

.result--styles {
  position: relative;
}
.result--styles:after {
  content: "";
  border-bottom: 2px solid #00DCFF;
  width: 100%;
  position: absolute;
  left: 0;
  box-shadow: 0px 0px 30px 11px rgba(101, 201, 254, 0.1);
}
.result--styles h2 {
  text-align: start;
  font-size: 4rem;
  color: #00DCFF;
  margin-bottom: 4rem;
}
.result--styles table {
  font-size: 2rem;
  width: 100%;
  text-align: start;
  font-weight: 600;
  border-spacing: 0;
}
.result--styles table tr:nth-child(2n+1) {
  background-color: #1e202b;
}
.result--styles table td {
  vertical-align: top;
  padding: 0.7rem 0 0.7rem 5rem;
}
.result--styles table td:nth-child(1) {
  width: 50rem;
}
.result--styles table td:nth-child(2) {
  font-weight: 400;
}

.scan-results__header {
  display: flex;
  flex: 1;
  justify-content: space-between;
  margin-bottom: 4rem;
  font-size: 3.5rem;
  align-items: center;
}

.scan-results__header__title {
  position: relative;
}
.scan-results__header__title:after {
  content: "";
  border-top: 2px solid #00DCFF;
  width: 122rem;
  position: absolute;
  bottom: -4rem;
  left: 0;
  box-shadow: 0px 0px 30px 11px rgba(101, 201, 254, 0.1);
}

.scan-results__details {
  padding: 4rem 0 4rem 0;
}
.scan-results__details h2 {
  padding-left: 4rem;
}
.scan-results__details:after {
  bottom: 0;
}

.scan-results__item__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4rem;
}
.scan-results__item__title h3 {
  padding-bottom: 4rem;
  font-size: 3rem;
  font-weight: 400;
}

.scan-results__item {
  padding: 4rem 0 0 0;
  animation: growDown 300ms ease-in-out forwards;
  transform-origin: top center;
}
.scan-results__item:hover {
  background-color: hsla(0, 0%, 80%, 0.02);
  cursor: pointer;
}
.scan-results__item:hover table tr:nth-child(2n+1) {
  background-color: hsla(0, 0%, 0%, 0.1);
}
.scan-results__item table {
  display: none;
}
.scan-results__item table td {
  vertical-align: top;
  padding: 0.7rem 0 0.7rem 5rem;
}
.scan-results__item table td:nth-child(2) {
  width: 50rem;
}
.scan-results__item table td:nth-child(3) {
  font-weight: 400;
  color: rgb(211, 211, 211);
}
.scan-results__item table td:nth-child(4) {
  padding-right: 4rem;
  font-weight: 400;
  text-align: center;
}

.scan-results__cve {
  text-align: start;
  counter-reset: sectionCounter;
}

.scan-results__cve__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0;
}
.scan-results__cve__header H2 {
  color: #F8B52E;
  font-size: 6rem;
  font-weight: 600;
  position: relative;
  padding-bottom: 2rem;
}
.scan-results__cve__header H2:after {
  content: "";
  border-top: 2px solid #00DCFF;
  width: 122rem;
  position: absolute;
  bottom: 0rem;
  left: 0;
  box-shadow: 0px 0px 30px 11px rgba(101, 201, 254, 0.1);
}
.scan-results__cve__header h3 {
  font-size: 3rem;
  font-weight: 400;
}

.scan-results__cve__item {
  width: 100%;
  padding: 6rem 0 5rem 0;
  position: relative;
}
.scan-results__cve__item h4 {
  padding: 0 8rem 2rem 8rem;
  font-size: 2rem;
  font-weight: 600;
  counter-increment: sectionCounter;
}
.scan-results__cve__item h4:first-child {
  position: relative;
}
.scan-results__cve__item h4:first-child:after {
  counter-increment: Sec;
  content: counter(sectionCounter) ": ";
  position: absolute;
  top: 0;
  left: 4rem;
  color: #00DCFF;
  font-weight: 600;
}
.scan-results__cve__item h5 {
  padding: 0 8rem 2rem 8rem;
  font-size: 2rem;
  font-weight: 600;
}
.scan-results__cve__item h5 span {
  font-weight: 400;
  color: rgb(211, 211, 211);
}
.scan-results__cve__item h5 span li {
  margin-left: 4rem;
  list-style: none;
  position: relative;
}
.scan-results__cve__item h5 span li:before {
  content: "•";
  color: #00DCFF;
  font-weight: bold;
  display: inline-block;
  width: 2rem;
}
.scan-results__cve__item:after {
  content: "";
  border-top: 2px solid #00DCFF;
  width: 106rem;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0px 0px 30px 11px rgba(101, 201, 254, 0.1);
}

.reference {
  font-weight: 400;
  font-size: 2rem;
  margin: 0 0 1rem 12rem;
  color: rgb(211, 211, 211);
}
.reference a {
  color: #00DCFF;
}

.ok {
  color: #1FDE72;
}

.warn {
  color: #F8B52E;
}

.critical {
  color: #EC3E3E;
}

.unknown {
  color: #858585;
}

.hidden {
  visibility: hidden;
}

.open {
  display: table !important;
  padding-bottom: 4rem;
}

@keyframes growDown {
  0% {
    transform: scaleY(0);
  }
  80% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
  }
}
@media screen and (max-width: 1600px) {
  .hide {
    display: none;
  }
  nav ul {
    margin-right: 0;
  }
}
@media screen and (max-width: 1100px) {
  .main-text {
    display: flex;
    flex-direction: column;
    width: 100vw;
    justify-content: center;
    align-items: center;
  }
  .main-text p {
    width: 90%;
  }
}
@media screen and (max-width: 800px) {
  main #search {
    width: 80vw !important;
    background-color: red;
  }
  main .logo {
    font-size: 15vw;
    margin: 5rem auto;
  }
  nav ul {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */