// Resets

*,
*::before,
*::after {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
}

html {
    font-size: 62.5%; /* 10px = 1rem! */
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

$color-main:#212431;
$color-mainlight:#FFFFFF0D;
$color-maindark:#1e202b;
$color-accent:#00DCFF;
$color-white:#fff;
$color-lightgray:#C5C5C5;

$color-ok:#1FDE72;
$color-warn:#F8B52E;
$color-critical:#EC3E3E;
$color-unknown: #858585;

// Contents

.hide {
    visibility: hidden;
}

body {
    -webkit-font-smoothing: antialiased;
    background-color: $color-main;
    font-family: 'Inter', sans-serif;
    color: white;
}

.logo {
    font-family: "degular-display", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 5.2rem;
    margin-bottom: 10px;
    user-select: none;

    span {
        color: $color-accent;
    }
}

nav {
    width: 100%;
    display: flex;
    height: 10rem;
    align-items: center;
    padding: 0 100px;
    box-shadow: 0px 5px 21px #0000004A;

    ul {
        display: flex;
        justify-content: center;
        margin: auto auto auto auto;
        list-style: none;
        gap: 6.2rem;
        font-size: 2rem;
    }
    a {
        text-decoration: none;
        color: $color-white;
        
        &:hover {
            color: $color-accent;
        }
        &:focus {
            outline: none;
            color: $color-accent;
        }
    }
}

main {
    text-align: center;

    .logo {
        margin: 150px auto;
        font-size: 14rem;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;

        #search {
            font-size: 2rem;
            color: $color-lightgray;
            padding: 2.5rem;
            width: 76rem;
            margin-bottom: 5rem;
            height: 5rem;
            border-radius: 15px;
            border: 2px solid $color-accent;
            background: $color-main 0% 0%;
            
            &:focus {
                outline: none;
                -webkit-box-shadow: 0px 0px 30px 11px rgba(101,201,254,0.29);
                -moz-box-shadow: 0px 0px 30px 11px rgba(101,201,254,0.29);
                box-shadow: 0px 0px 30px 11px rgba(101,201,254,0.29);
                background: $color-mainlight;
            }
            &:hover {
                background: $color-mainlight 0% 0%;
            }
        }
        #button {
            width: 26rem;
            height: 7rem;
            font-weight: 700;
            font-size: 3.5rem;
            color: $color-accent;
            border-radius: 10px;
            background-color: $color-main;
            border: none;
            cursor: pointer;
            outline: 2px solid $color-accent;

            &:hover {
                color: $color-main;
                background-color: $color-accent;
                -webkit-box-shadow: 0px 0px 30px 11px rgba(101,201,254,0.29);
                -moz-box-shadow: 0px 0px 30px 11px rgba(101,201,254,0.29);
                box-shadow: 0px 0px 30px 11px rgba(101,201,254,0.29);
            }
            &:focus {
                color: $color-main;
                background-color: $color-accent;
                -webkit-box-shadow: 0px 0px 30px 11px rgba(101,201,254,0.29);
                -moz-box-shadow: 0px 0px 30px 11px rgba(101,201,254,0.29);
                box-shadow: 0px 0px 30px 11px rgba(101,201,254,0.29);
            }
        }
    }
}

.main-text {
    font-weight: 200;
    margin-top: 15rem;
    font-size: 2rem;
    text-align: start;
    margin: 15rem 40rem;
    opacity: 0.4;

    p {
        margin-bottom: 5rem;
    }
}

.results {
    margin-top: 10rem;
    width: 122rem;
    margin: 15rem auto;

}
.results-item {
    padding: 5rem 0 7rem 0;
    position: relative;

    &:after {
        content: '';
        border-top: 2px solid $color-accent;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        -webkit-box-shadow: 0px 0px 30px 11px rgba(101,201,254,0.1);
        -moz-box-shadow: 0px 0px 30px 11px rgba(101,201,254,0.1);
        box-shadow: 0px 0px 30px 11px rgba(101,201,254,0.1);
        
    }

    h2 {
        text-align: start;
        font-size: 4rem;
        color: $color-accent;
        margin-bottom: 4rem;
    }

    table {
        font-size: 2rem;
        width: 100%;
        text-align: start;
        font-weight: 600;
        border-spacing: 0;


        tr {
            &:nth-child(2n+1) {
                background-color: $color-maindark
            }
        }

        td {
            vertical-align: top;
            padding: 0.7rem 0 0.7rem 5rem;

            &:nth-child(1) {
                width: 50rem;
            }
            &:nth-child(2) {
                font-weight: 400;
            }

            &:nth-child(3) {
                font-weight: 400;
            }

            &:nth-child(4) {
                padding-right: 4rem;
                text-align: center;
            }
        }
    }
}

// Utilities

.ok {
    color: $color-ok
}

.warn {
    color: $color-warn;
}

.critical {
    color: $color-critical
}

.unknown {
    color: $color-unknown;
}